{% extends 'base.html' %}
{% load staticfiles %}
{% load comments_tags %}
{% load likes_tags %}


{% block title %}Application Guidelines - 赤門{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/guideline_list.css' %}">
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">

        <!-- sidebar-->
        <nav class="sidebar bg-light col-xs-0 col-sm-0 col-md-3 col-lg-2 d-none d-md-block position-fixed">
            <div class="sidebar-section">
                <h6 class="sidebar-section-title font-weight-bold">Subject</h6>
                {% for subject in subjects %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label" for="flexCheckDefault">
                        {{ subject.name}}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="sidebar-section">
                <h6 class="sidebar-section-title font-weight-bold">Degree</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label" for="flexCheckDefault">
                        Master
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label" for="flexCheckDefault">
                        Ph.D.
                    </label>
                </div>
            </div>
            <div class="sidebar-section">
                <h6 class="sidebar-section-title font-weight-bold">Language</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label" for="flexCheckDefault">Japanese</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label" for="flexCheckDefault">English</label>
                </div>
            </div>

            <div class="btn btn-danger" onclick="">Filter</div>
        </nav>

        <!-- main part -->
        <main role="main" class="col-xs-12 col-sm-12 col-md-9 col-lg-10 ml-sm-auto">

            <!-- title -->
            <h3 class="guideline-category">{% block category %}Application Guidelines{% endblock%}</h3>

            <!-- guideline list -->
            {% for guideline in guidelines %}
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    <a class="guideline-title" href="{% url 'guidelines:guideline_detail' guideline.id %}">[{{ guideline.subject }}][{{ guideline.degree }}][{{ guideline.language }}] {{ guideline.university }} {{ guideline.school }} {{ guideline.course }}</a>
                  </h5>
                  <p class="card-text"><small class="text-muted">{{ guideline.submission_deadline }}</small></p>
                </div>
            </div>
            {% endfor %}

            <!-- pagination -->
            <nav class="pagebar">
                <ul class="pagination">
                    <!-- previous page -->
                    <li class="page-item">
                        {% if current_page.has_previous %}
                            <a class="page-link" href="?page={{ current_page.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% else %}
                            <span class="page-link" aria-hidden="true">&laquo;</span>
                        {% endif %}
                    </li>

                    {% for page_num in page_range %}
                        {% if page_num == current_page.number %}
                            <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                        {% else %}
                            {% if page_num == '...' %}
                                <li class="page-item"><span class="page-link">{{ page_num }}</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <!-- next page -->
                    <li class="page-item">
                        {% if current_page.has_next %}
                            <a class="page-link" href="?page={{ current_page.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% else %}
                            <span class="page-link" aria-hidden="true">&raquo;</span>
                        {% endif %}
                    </li>
                </ul>

            </nav>

        </main>
    </div>
</div>
{% endblock %}