{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}赤門{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/chimen_notifications.css' %}">
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">

            <a class="btn btn-primary" href="{% url 'notifications:mark_all_as_read' %}?next={% url 'chimen_notifications:chimen_notifications' %}">Mark as checked</a>
            <a class="btn btn-danger" href="{% url 'chimen_notifications:delete_notifications_read' %}">Delete checked messages</a>

            <ul class="notifications">
            {% for notification in request.user.notifications.all %}
                <li class="{% if not notification.unread %}read{% endif %}">
                    [Before {{ notification.timesince }}]
                    <a href="{% url 'chimen_notifications:chimen_notification' notification.pk %}">{{ notification.verb }}</a>
                </li>
            {% empty %}
                <li>No messages</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}