{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}搜索结果{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
        {% if keywords == '' %}
            <h3>You are not searching anything</h3>
            <p>Example： University of Tokyo</p>
        {% else %}
            <h3>“{{ keywords }}”，{{ result_count }} results</h3>
            <hr>
            {{ keywords }}
            {% for guideline in current_page6 %}
                {{ guideline }}
            {% empty %}
                <p>No results.</p>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="row" style="display: flex; justify-content: center;">
        {% if current_page.has_previous %}
        <a class="btn btn-default"
            href="{% url 'search' %}?keywords={{ keywords }}&page={{ current_page.previous_page_number }}">
            Previous page
        </a>
        {% endif %}

        {% if current_page.has_next %}
        <a class="btn btn-default"
           href="{% url 'search' %}?keywords={{ keywords }}&page={{ current_page.next_page_number }}">
            Next page
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}