{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Profile{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/user_info.css' %}">{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4 class="font-weight-bold">User information</h4>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                      <td>Name：{{ user.get_displayname }}</td>
                      <td><a href="{% url 'user:change_displayname' %}?from={{ request.get_full_path }}">Change name</a></td>
                    </tr>
                    <tr>
                      <td>Email：{{ user.email }}</td>
                      <td><a href="{% url 'user:change_email' %}?from={{ request.get_full_path }}">Change email</a></td>
                    </tr>
                    <tr>
                      <td>Password：**********</td>
                      <td><a href="{% url 'user:change_password' %}?from={{ request.get_full_path }}">Chage password</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}